/* 
Blue	
#061722
#0a5a77
#81b5d1
#d1cdc3
#854c3b
*/


.vh {display: none;}
.grab {cursor: -webkit-grab; cursor: grab;}

form {
  background: #d1cdc3;
  padding: 24px;
  color: dark grey;
  max-width: 960px;
  font-size: 16px;
}

textarea {max-width: 100%;}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

.select, textarea, input {
    margin: 2em 0em;
    position: relative;
    display: flex;
    max-width: 100%;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .3em;
    padding: 0px .5em;
    width: 25em;
    color: white;
    border: none;
    font-size: 16px;
}

textarea {height: 6em; width: 40em;}

select {
  background: #2c3e50;
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

button {
   font-size: 16px;
   background: #5cbcf6;
    border: none;
    padding: 1.2em 2.4em;
    -webkit-transform: rotateX(-15deg);
    -moz-transform: rotateX(-15deg);
    -ms-transform: rotateX(-15deg);
    transform: rotateX(-15deg);
    display: block;
outline: 1px solid
transparent;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;}

button::after {
    width: 100%;
    height: 42%;
    left: 0;
    top: -40%;
    background: 
    #49a7df;
    -webkit-transform-origin: 0% 100%;
    -webkit-transform: rotateX(90deg);
    -moz-transform-origin: 0% 100%;
    -moz-transform: rotateX(90deg);
    -ms-transform-origin: 0% 100%;
    -ms-transform: rotateX(90deg);
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
  content: '';
position: absolute;
z-index: -1;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
}

button:active, button:hover {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
    background: #55b7f3;
    cursor: -webkit-pointer; 
    cursor: pointer;
    
}

form p:last-of-type {
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective: 600px;
    display: inline-block;
}
