.vh {display: none;}
.grab {cursor: -webkit-grab; cursor: grab;}

form {
  background: #f39c12;
  padding: 24px;
  color:white;
  max-width: 960px;
}

.select, textarea, input {
    position: relative;
    display: flex;
    max-width: 100%;
    height: 3em;
    line-height: 3;
    background: 
    #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    padding: 0px .5em;
    width: 25em;
}

textarea {max-width: 100%;}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select */
.select, textarea, input {
  position: relative;
  display: flex;
  width: 20em;
  max-width: 100%;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}

textarea {height: 6em; width: 40em;}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}
